.nav-bar {
}
a {
  color: black;
}
.nav-bar-ul {
  background-color: orange;
  list-style-type: none;
  height: 60px;
}
li {
  display: inline;
  text-align: right;
  padding: 12px;
}
li a {
  text-decoration: none;
  font-size: large;
  color: white;
}
